.o-page {
    margin: 25% 10% 5%;
}

.o-page__title {
    font-family: $font-family-serif;
    color: $color-primary;
    font-size: rem(30px);
    line-height: 1.4;
    text-decoration: underline;

    @include mq(s-tablet) {
        font-size: rem(60px);
        max-width: 80%;
    }

    @include mq(desktop) {
        max-width: 50%;
    }
}

.o-page__content {
    margin-top: 1rem;

    @include mq(s-tablet) {
        margin-top: 3rem;
    }
}