.c-product {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    @include mq(l-tablet) {
        flex-direction: row;
    }
}

.c-product__container {
    @include mq-prop((padding), $frame-weight);

    flex: 0 1 50%;
    height: 100vh;

    @include mq(s-tablet) {
        flex: 1 0 40vh;
        position: relative;
        z-index: z-index(above);
        width: auto;
        background-color: transparent;
        transform: translate3d(0, 0, 0);
    }

    @include mq(l-tablet) {
        height: 100vh;
    }
}

.c-product__container--left {
    @include absolute;
    z-index: z-index(modal) + 1;
    width: 100%;
    height: 100%;
    background-color: $color-white;

    transform: translate3d(0, 100%, 0);
    transition: transform 1s cubic-bezier(.19,.51,.37,.97);

    @include mq(s-tablet) {
        position: relative;
        z-index: z-index(base);
        display: block;
        width: auto;
        background-color: transparent;
        transform: translate3d(0, 0, 0);
        padding: 0;
        margin: map_get($frame-weight, s-tablet);
        margin-bottom: 0;
    }

    @include mq(l-tablet) {
        margin: map_get($frame-weight, s-tablet);
        margin-right: 0;
        height: calc(100vh - #{map_get($frame-weight, s-tablet) * 4});
        padding: 0;
    }

    @include mq(desktop) {
        height: calc(100vh - #{map_get($frame-weight, s-tablet) * 2});
    }

    &.is-detail-open {
        transform: translate3d(0, 0, 0);
    }
}

.c-product__container--right {
    @include mq(s-tablet) {
        position: relative;
        display: block;
        width: auto;
        background-color: transparent;
        transform: translate3d(0, 0, 0);
        padding: 0;
        margin: map_get($frame-weight, s-tablet);
        margin-top: 0;
    }

    @include mq(l-tablet) {
        margin: map_get($frame-weight, s-tablet);
        margin-left: 0;
        height: calc(100vh - #{map_get($frame-weight, s-tablet) * 4});
        padding: 0;
        //padding-top: map_get($frame-weight, s-tablet);
        //padding-bottom: map_get($frame-weight, s-tablet);
    }

    @include mq(desktop) {
        height: calc(100vh - #{map_get($frame-weight, s-tablet) * 2});
    }
}

.c-product__inner {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    @include mq(l-tablet) {
        height: calc(100vh - #{map_get($frame-weight, s-tablet) * 4});
    }

    @include mq(l-tablet) {
        height: calc(100vh - #{map_get($frame-weight, s-tablet) * 2});
    }
}

.c-product__category,
.c-product__tools,
.c-product__name,
.c-product__description {
    flex: 1 0 auto;
}

.c-product__details,
.c-product__gallery {
    display: flex;
    margin-top: $spacer * 3;
    height: 100%;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    @include mq(s-tablet) {
        //@include absolute;
        //margin-top: 0;
        //width: 100%;
        //height: calc(100% - #{$spacer * 3});
        //justify-content: center;
    }
}

.c-product__details {
    position: relative;
    height: calc(100% - 105px);

    @include mq(s-tablet) {
        height: 100%;
        margin-top: $spacer * 3;
    }

    @include mq(l-tablet) {
        margin: 10% auto;
    }
}

.c-product__gallery {
    @include mq(s-tablet) {
        position: relative;
        width: 40%;
        height: 30%;
        margin: 0 auto;
    }

    @include mq(l-tablet) {
        width: 100%;
        height: 100%;
        //margin-top: 0;
        //margin-bottom: 0;
    }
}

.c-product__category {
    @include absolute;
    top: 0;
    right: 0;
    margin: auto;
    font-weight: 700;
    text-align: center;
    pointer-events: none;

    @include mq(desktop) {
        height: 20%;
    }
}

.c-product__name,
.c-product__tools,
.c-product__description {
    text-align: center;
    padding: 0 $spacer;
    line-height: 1.5;

    @include mq(s-tablet) {
        //@include absolute;
        line-height: 2.5;
        //top: 50%;
        //right: 0;
        //margin: auto;
        //padding: 0;
        //transform: translate3d(0, -50%, 0);
    }
}

.c-product__name {
    @include font-title($color-primary);

    @include mq(s-tablet) {
        max-width: none;
    }

    @include mq(l-tablet) {
        align-items: center;
        width: 50%;
    }

    @include mq(desktop) {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.c-product__description {
    width: 100%;

    @include mq(s-tablet) {
        width: 400px;
        top: 75%;
        margin: 0 auto;
    }
}

.c-product__tools {
    margin-top: 20%;
    list-style: none;
    padding: 0;
    font-size: rem(15px);
    color: $color-primary;

    li {
        display: inline-block;
        margin: $spacer $spacer * 2;
    }

    .o-ico {
        font-size: rem(18px);
        transition: transform 0.3s ease;

        .no-touchevents &:hover {
            transform: scale(1.1, 1.1);
        }
    }

}

.c-product__navi-grid {
    @include absolute;
    z-index: z-index(modal) + 1;
    width: 100%;
    height: 100%;
    pointer-events: none;

    transition: z-index 0s 1s;

    a,
    button {
        pointer-events: auto;
    }

    .is-zoom-open & {
        z-index: z-index(base) - 1;
        transition: z-index 0s 0s;
    }
}
